<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/css/checkout.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/bodyHeader :: bodyHeader}" />

<!-- Section-->
<section class="py-5" style="padding: 130px;">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">상품등록</h4>
        <form class="needs-validation" novalidate th:action="@{/product}" th:object="${product}" method="post">
            <div class="row g-3">
                <div class="col-12">
                    <label for="productName" class="form-label">상품명</label>
                    <input type="text" th:field="*{name}" class="form-control" id="productName" placeholder="상품명을 입력하세요" value="" required>
                    <div class="invalid-feedback">
                        Valid product name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="price" class="form-label">가격</label>
                    <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="가격을 입력하세요" value="" required>
                    <div class="invalid-feedback">
                        Valid price is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="stockQuantity" class="form-label">수량</label>
                    <input type="number" th:field="*{stockQuantity}" class="form-control" id="stockQuantity" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid stockQuantity is required.
                    </div>
                </div>

                <div class="col-12">
                    <label for="description" class="form-label">설명</label>
                    <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="상품의 설명을 입력하세요" value="">
                </div>

            </div>

            <button class="w-25 btn btn-primary btn-lg mt-5" type="submit">등록</button>
            <button class="w-25 btn btn-secondary btn-lg mt-5" type="button" onclick="history.back();">취소</button>
        </form>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}" />

</body>
</html>
