<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="~{fragments/bodyHeader :: bodyHeader}" />

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="product : ${productList}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <a class="link-dark link-underline-opacity-0" th:href="@{/product/{id} (id=${product.id})}">
                            <div class="text-center">
                                <!--Product Id-->
                                <input type="hidden" th:value="${product.id}" />
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${product.name}">상품명</h5>
                                <!-- Product price-->
                                <span th:text="${product.price}"></span>원
                            </div>
                        </a>
                    </div>
                </div>
            </div>


<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Fancy Product</h5>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            $40.00 - $80.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Special Item</h5>-->
<!--                            &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                            <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            <span class="text-muted text-decoration-line-through">$20.00</span>-->
<!--                            $18.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Sale Item</h5>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            <span class="text-muted text-decoration-line-through">$50.00</span>-->
<!--                            $25.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Popular Item</h5>-->
<!--                            &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                            <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            $40.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Sale Item</h5>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            <span class="text-muted text-decoration-line-through">$50.00</span>-->
<!--                            $25.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Fancy Product</h5>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            $120.00 - $280.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Special Item</h5>-->
<!--                            &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                            <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            <span class="text-muted text-decoration-line-through">$20.00</span>-->
<!--                            $18.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Popular Item</h5>-->
<!--                            &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                            <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            $40.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="p-3" th:if="${productList.hasContent()}" style="text-align: center;">
            <div>
                <!-- 이전 페이지 링크 -->
                <a th:href="@{/product (page=${productList.number - 1})}" th:if="${productList.hasPrevious()}">Previous</a>

                <!-- 페이지 번호 링크 -->
                <span th:each="pageNum : ${#numbers.sequence(startPage + 1, endPage)}">
            <a th:href="@{/product (page=${pageNum - 1})}"
               th:text="${pageNum}"
               th:classappend="${pageNum - 1 == productList.number} ? 'active' : ''" class="page-link">1</a>
            </span>

                <!-- 다음 페이지 링크 -->
                <a th:href="@{/product (page=${productList.number + 1})}" th:if="${productList.hasNext()}">Next</a>
            </div>
        </div>

        <div class="text-center pb-5">
            <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/product/form}'|">등록</button>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}" />

</body>
</html>
