<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<!--<style>-->
<!--    div {-->
<!--        border: 1px solid black;-->
<!--    }-->
<!--</style>-->
<body>

<div th:replace="~{fragments/bodyHeader :: bodyHeader}" />

<div id="contents">
<!--    <div>-->
<!--        <span>공지사항</span>-->
<!--        <input type="text" placeholder="검색어 입력">-->
<!--        <p>-->
<!--            <input id="search" name="search" class="inputTypeText" placeholder="검색어 입력" value="" type="text">-->
<!--            <a href="#none" onclick="BOARD.form_submit('boardSearchForm');" class="search_btn"><img src="/static/image/ico_zoom.svg" alt="찾기">-->
<!--            </a>-->
<!--        </p>-->
<!--    </div>-->
    <div class="pt-5" id="boardList">
        <table class="styled-table" style="width: 80%;">
            <colgroup>
                <col style="width: 50px;">
                <col style="width: 250px;">
                <col style="width: 50px;">
                <col style="width: 100px;">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${noticeList}">
                <td th:text="${notice.idx}">번호</td>
                <td>
                    <a style="color: inherit; text-decoration: none;" th:text="${notice.title}" th:href="@{/board/notice/{idx} (idx=${notice.idx})}">제목</a>
                </td>
                <td th:text="${notice.writer}">작성자</td>
                <td th:text="${#dates.format(notice.createTime, 'yyyy-mm-dd')}">작성일자</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="p-3" th:if="${noticeList.hasContent()}" style="text-align: center;">
        <div>
            <!-- 이전 페이지 링크 -->
            <a th:href="@{/board/notice(page=${noticeList.number - 1})}" th:if="${noticeList.hasPrevious()}">Previous</a>

            <!-- 페이지 번호 링크 -->
            <span th:each="pageNum : ${#numbers.sequence(startPage + 1, endPage)}">
            <a th:href="@{/board/notice(page=${pageNum - 1})}"
               th:text="${pageNum}"
               th:classappend="${pageNum - 1 == noticeList.number} ? 'active' : ''" class="page-link">1</a>
            </span>

            <!-- 다음 페이지 링크 -->
            <a th:href="@{/board/notice(page=${noticeList.number + 1})}" th:if="${noticeList.hasNext()}">Next</a>
        </div>
    </div>

</div>
<div class="text-center pb-5">
    <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/board/notice/form}'|">등록</button>
</div>

<div th:replace="~{fragments/footer :: footer}" />

</body>
</html>
