<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .styled-table tbody tr:hover {
        background: none;
    }
</style>
<body>

<div th:replace="~{fragments/bodyHeader :: bodyHeader}" />
<script src="/js/notice/noticeView.js"></script>

<section class="py-5">
    <div class="contents">
        <div class="noticeView" style="margin-left: 10%; margin-right: 10%">
            <table class="styled-table" >
                <colgroup>
                    <col width="80px;">
                    <col width="120px;">
                    <col width="80px;">
                    <col width="120px;">
                    <col width="80px;">
                    <col width="120px;">
                </colgroup>
                <tr>
                    <th>글 제목</th>
                    <td colspan="5" th:text="${noticeDto.title}">제목입니다</td>
                </tr>
                <tr>
                    <th>등록일</th>
                    <td>2024-11-14</td>
                    <th>조회</th>
                    <td>0</td>
                    <th>작성자</th>
                    <td th:text="${noticeDto.writer}">작성자명</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td colspan="5" th:utext="${noticeDto.content}" style="text-align:left; padding: 30px;">글 내용</td>
                </tr>
                <tr>
                    <th>↓</th>
                    <td colspan="5">다음글 제목</td>
                </tr>
            </table>
            <div class="row">
                <div class="col-6" style="text-align: right;">
                    <button type="button" onclick="history.back();" class="btn btn-secondary" style="color: white;">목록</button>
                </div>
                <!--                <div class="col-4" style="text-align: right;">-->
                <!--                    <button type="button" class="btn btn-info" style="color: white;">수정</button>-->
                <!--                </div>-->
                <div class="col-6" style="text-align: left;">
                    <a th:onclick="'deleteNotice(' + ${noticeDto.idx} + ')'" class="btn btn-danger" style="color: white;">삭제</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}" />

</body>
</html>
